#chat-screen,
#chat-screen .status-bar,
#chat-screen .alt-header {
    background-color: #abc1d1;
}

#chat-screen .alt-header {
    top: 10px;
}


.main-chat {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp {
    font-size: 15px;
    color: white;
    background-color: #92a4b2;
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 15px;
}

/* Message part */
    /* Common */

.message-row {
    width: 100%;
    display: flex;
    margin: 12px 0px;
}

.message__time {
    font-size: 12px;
    opacity: 0.8;
}

.message__text {
    display: flex;
    align-items: flex-end;
}

.message__bubble {
    background-color: white;
    padding: 10px 15px;
    border-radius: 10px;
}

    /* Message Receive */
.message__author {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    opacity: 0.8;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-right: 10px;
}

@keyframes receive {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.message-row--receive {
    justify-content: start;
    animation: receive 0.5s ease-out;
}

.message-row--receive .message__bubble {
    background-color: white;
    border-top-left-radius: 0px;
    margin-right: 8px;
}
    /* Message Send */
@keyframes send {
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.message-row--send {
    justify-content: flex-end;
    animation: send 0.5s ease-out;
}

.message-row--send .message__text {
    flex-direction: row-reverse;
}

.message-row--send .message__bubble {
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    margin-left: 8px;
}

/* Keyboard section */
.reply {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    box-sizing: border-box;
}


.reply .reply__column:first-child {
    width: 50px;
}
.reply .reply__column:last-child {
    width: 100%;
    border: var(--main-border);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 1s ease-in-out;
}

.reply .reply__column:last-child input {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    height: 30px;
    width: 100%;
    padding: 0px 10px;
    transition: all 2s ease-in-out;
}

.reply .reply__column:last-child button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: var(--yellow);
    margin-right: 2px;
    margin-left: 15px;
}

.reply i {
    opacity: 0.5;
}

.reply__column:first-child,
.reply__column .fa-smile {
    transition: all 2s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .reply__column .fa-smile {
    opacity: 0;
}

.reply:focus-within .reply__column:last-child {
    width: 100vmax;
}